<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jungleee</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="stylesheet" th:href="@{/scss/home.scss}">th:
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script th:src="@{/js/home.js}"></script>
</head>
<body>
<header>
    <img th:src="@{/images/gg3.png}" alt="">
    <nav class="navigation">

        <a href="/create">Packages</a>
        <a href="#">Contact</a>
        <a href="/profile">Profile</a>
        <a href="#">Home</a>
    </nav>
    </nav>
</header>

<section class="parralax">
    <img th:src="@{/images/hill1.png}" id="hill1">
    <img th:src="@{/images/hill2.png}" id="hill2">
    <img th:src="@{/images/hill3.png}" id="hill3">
    <img th:src="@{/images/hill4.png}" id="hill4">
    <img th:src="@{/images/hill5.png}" id="hill5">
    <img th:src="@{/images/tree.png}" id="tree">
    <h2 id="text">Jungle Safari</h2>
    <img th:src="@{/images/leaf.png}" id="leaf">
    <img th:src="@{/images/plant.png}" id="plant">

</section>

<section class="sec">
<h2>Safari Vehicle</h2>
<img class="jeepPhoto1" th:src="@{/images/jeep1.jpg}" alt="">

<img class="jeepPhoto2" th:src="@{/images/jeep2.jpg}" alt="">
<p>
    <br><br>Jungle safari jeeps and trucks are specially modified vehicles designed to withstand the challenges of navigating through
    dense jungles and rugged terrains. These sturdy vehicles are equipped with powerful engines, reinforced chassis, and large,
    durable tires, enabling them to tackle uneven surfaces, muddy tracks, and steep slopes. With their robust build and
    off-road capabilities, these vehicles offer a safe and reliable mode of transportation for jungle safaris.<br><br>


    Jungle safari jeeps typically feature an open-top design, allowing passengers to have unobstructed views of their
    surroundings and a closer connection to nature. The jeeps are often equipped with roll bars and protective grills to
    ensure the safety of occupants during encounters with wildlife. They have spacious interiors, providing ample seating
    and storage for safari equipment such as binoculars, cameras, and supplies.<br><br>


    On the other hand, jungle safari trucks are larger and more rugged, capable of carrying a greater number of passengers
    and heavier loads. These trucks often feature a closed cabin with large windows, providing panoramic views of the jungle
    while offering protection from the elements. Some trucks may even have elevated platforms or seating areas on the roof,
    providing a unique vantage point for wildlife spotting.<br><br>

    Both jungle safari jeeps and trucks are usually accompanied by experienced guides or drivers who are well-versed in
    navigating the jungle and knowledgeable about the local wildlife and ecosystems. These vehicles offer an exciting and
    immersive safari experience, allowing adventurers to explore remote areas, track wildlife, and witness breathtaking
    sights in the heart of the jungle. Whether it's the thrill of spotting elusive animals or the awe-inspiring beauty of
    the natural surroundings, jungle safari jeeps and trucks serve as the ideal companions for unforgettable adventures
    in the wild.<br><br><br><br>
</p>

<h2>Safari Timing</h2>
<div class="img-grid">

    <img class="safaiTiming1" th:src="@{/images/safariTiming1.jpeg}" alt="">
    <img class="safaiTiming2" th:src="@{/images/safariTiming2.jpeg}" alt="">
    <img class="safaiTiming3" th:src="@{images/safariTiming3.jpeg}" alt="">
    <img class="safaiTiming4" th:src="@{images/safariTiming4.jpeg}" alt="">
</div>

<p>

    <br><br>
    Jungle safari timing plays a crucial role in maximizing the chances of witnessing wildlife in their natural habitat
    and experiencing the true essence of the jungle. The ideal time for a jungle safari largely depends on the specific
    destination and the wildlife that one intends to observe.<br><br>

    In general, early morning and late afternoon are considered the prime times for jungle safaris. During these periods,
    the temperature is cooler, and animals tend to be more active. Early mornings offer the opportunity to witness the
    awakening of the jungle as birds start chirping, and animals emerge from their resting places to search for food.
    The soft morning light creates a picturesque atmosphere, perfect for photography enthusiasts<br><br>


    Late afternoons, nearing sunset, are another excellent time for jungle safaris. As the day cools down, many animals become
    active again, venturing out in search of food and water. Predators may also start their hunting activities during this
    time, increasing the chances of witnessing exciting wildlife interactions. <br><br>

    It is worth noting that the climate and seasons of the particular jungle destination should be taken into consideration
    when planning a safari. Some regions have distinct dry and wet seasons, and wildlife behavior may vary accordingly.
    Dry seasons often result in more concentrated wildlife around water sources, making it easier to spot animals.
    On the other hand, during the wet season, the jungle comes alive with lush greenery, and some animals may give birth
    to their young, providing unique opportunities to observe parental care and playfulness.<br><br>


    Ultimately, the best approach to planning a jungle safari is to consult local experts, such as park rangers or tour operators, who possess
    extensive knowledge of the area. They can provide valuable insights into the seasonal patterns of wildlife sightings, migratory patterns, and
    other factors that can enhance the safari experience.Regardless of the specific timing, a jungle safari promises an extraordinary
    adventure filled with captivating sights and sounds. The anticipation of encountering majestic creatures in their natural habitat,
    coupled with the untamed beauty of the jungle, makes every safari excursion a truly unforgettable experience.
    <br><br><br><br>
</p>

<h2>Animals</h2>
<br><br>
<h3>Bengal Tiger</h3>
<img clas="tigerPhoto1" th:src="@{images/tiger1.jpg}" alt="">
<img class="tigerPhoto2" th:src="@{images/tiger2.jpg}" alt="">
<p>
    <br>

    The Bengal Tiger (Panthera tigris tigris) holds a significant place in the wildlife heritage of Nepal. Known for its majestic beauty and powerful presence, the Bengal Tiger is one of the most iconic and revered animals
    in the country. In Nepal, the tiger population is primarily found in the Terai region, which encompasses the southern lowland plains bordering
    India. <br><br>
    Nepal is home to several national parks and protected areas that serve as vital habitats for the Bengal Tiger. One of the most renowned tiger conservation areas in Nepal is Bardia National Park, located in the western part of the country. Covering a vast expanse of lush grasslands, dense forests, and meandering rivers, Bardia National Park offers an ideal
    environment for tigers to thrive. Other notable tiger habitats include Chitwan National Park, Banke National Park, and Shuklaphanta Wildlife
    Reserve. <br><br>

    Efforts to protect the Bengal Tiger in Nepal have been instrumental in ensuring its survival and growth. The country has made significant strides in tiger conservation, with active involvement in international initiatives like the Global Tiger Recovery Program and the Conservation Assured | Tiger Standards program. Nepal has also implemented
    rigorous anti-poaching measures, community-based conservation initiatives, and habitat restoration programs to safeguard the tiger population.
    <br><br>
    In conclusion, Nepal's efforts in tiger conservation, coupled with its rich natural landscapes, make it an exceptional destination for experiencing the magnificence of the Bengal Tiger. As a symbol of the country's commitment to wildlife
    preservation, the Bengal Tiger continues to inspire and captivate visitors, fostering
    deep appreciation for Nepal's remarkable natural
    heritage.
    <br><br><br>
</p>

<h3>One Horned Rhino</h3>
<br><br>
<div class="rhinoImage">
    <img th:src="@{images/rhinoImage1.jpg}" alt="">
    <img th:src="@{images/rhinoImage2.jpg}" alt="">
</div>
<p>
    <br>
    The one-horned rhinoceros, also known as the Indian rhinoceros or the greater one-horned rhinoceros (Rhinoceros unicornis), is a remarkable and endangered species that holds a special place in the wildlife of Asia, particularly in India and Nepal. It is one of the largest land mammals and is easily recognizable by its impressive armor-like skin and the single horn that protrudes from its nose.
    The one-horned rhino is primarily found in the grasslands and swampy areas of the Indian subcontinent. In Nepal, it is concentrated in the Terai region, while in India, it inhabits the grasslands of Kaziranga National Park, Manas National Park, and a few other protected areas. These regions provide the rhinos with the ideal mix of vegetation, water sources, and suitable habitats for their survival.
    <br><br>

    Conservation efforts have been instrumental in protecting and reviving the one-horned rhino populations. Strict anti-poaching measures, habitat restoration programs, and community-based conservation initiatives have contributed to the gradual recovery of these magnificent creatures. The establishment of protected areas and dedicated conservation projects, such as the Indian Rhino Vision 2020, have played a vital role in ensuring their survival.
    <br><br>

    In conclusion, the one-horned rhinoceros stands as an iconic symbol of the rich wildlife heritage of India and Nepal. With concerted conservation efforts, these magnificent creatures have been given a fighting chance for survival, offering hope for their long-term existence. Preserving the habitats and protecting the one-horned rhino is not only crucial for their own survival but also for the overall conservation of our planet's natural wonders.
    <br>
</p>
<br><br>


<h3>More animals</h3>
<div class="my-img-container">
    <div class="expanded">
        <img
                src="https://images.unsplash.com/photo-1545063914-a1a6ec821c88?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fHdpbGRsaWZlJTVDfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60"
                alt=""
        />
    </div>
    <div>
        <img
                src="https://images.unsplash.com/photo-1535941339077-2dd1c7963098?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8d2lsZGxpZmUlNUN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60"
                alt=""
        />
    </div>
    <div>
        <img
                src="https://images.unsplash.com/photo-1456926631375-92c8ce872def?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHdpbGRsaWZlJTVDfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60"
                alt=""
        />
    </div>
    <div>
        <img
                th:src="@{images/bear.jpg}"
   @{            images=""
}        />
    </div>

    <div>
        <img
                th:src="@{images/reindeer.jpg}"
                alt=""
        />
    </div>
    <div>
        <img
                th:src="@{images/croc.jpg}"
                alt=""
        />
    </div>
    <div>
        <img
                src="httpsimages/media.istockphoto};com/id/1251564367/photo/a-monal-is-a-bird-of-genus-lophophorus-of-the-pheasant-family-phasianidae.webp?b=1&s=170667a&w=0&k=20&c=z9OpEeNPazQnygUYp3B0WkeNv2_YQFMflmUhlkRyPyo="
                alt=""
        />
    </div>
    <div>
        <img
                th:src="@{images/babbler.jpg}"
                alt=""
        />
    </div>
    <div>
        <img
                th:src="@{images/redpanda.jpg}"
                alt=""
        />
    </div>
</div>
<br><br>
<p>In conclusion, national parks around the world are havens for an incredible array of animal species. From majestic predators
    like tigers and rhinos to fascinating creatures like elephants, sloth bears, crocodiles, foxes, deer, and primates,
    these protected areas offer a glimpse into the wonders of the natural world. Each animal brings its unique characteristics,
    behaviors, and roles within their respective ecosystems, creating a rich tapestry of biodiversity. National parks not only
    serve as crucial habitats for these animals but also provide opportunities for humans to appreciate and learn about the
    diversity of life on Earth. By visiting and supporting these parks, we contribute to their conservation and help ensure the
    long-term survival of these magnificent creatures for future generations to marvel at and cherish.</p>
</section>

<!-- ---------------footer---------------------------------- -->

<footer class="bg-dark text-white pt-5 pb-4">
    <div class="container text-center text-md-left">
        <div class="row text-center text-md-left">

            <div class="row text-center text text-md-left">

                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Junglee</h5>
                    <p>Here you can use rowsn and colums to organize your foogter content</p>
                </div>

                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Products</h5>

                    <p>
                        <a href="#" class="text-white" style="text-decoration: none;">The Providers</a>
                    </p>

                    <p>
                        <a href="#" class="text-white" style="text-decoration: none;">Creativity</a>
                    </p>

                    <p>

                        <a href="#" class="text-white" style="text-decoration: none;">Source file</a>
                    </p>

                    <p>
                        <a href="#" class="text-white" style="text-decoration: none;">BootStrap</a>
                    </p>

                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Useful links</h5>
                    <p>
                        <a href="#" class="text-white" style="text-decoration: none;">Your account</a>
                    </p>

                    <p>
                        <a href="#" class="text-white" style="text-decoration: none;">Become affiliate</a>
                    </p>

                    <p>
                        <a href="#" class="text-white" style="text-decoration: none;">Shipping Rates</a>
                    </p>

                    <p>
                        <a href="#" class="text-white" style="text-decoration: none;">Help</a>
                    </p>
                </div>

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Contact</h5>
                    <p>
                        <i class="fas fa-home mr-3"></i>New York, NY 2333, US
                    </p>

                    <p>
                        <i class="fas fa-envelope mr-3"></i>mandone8776@gmail.com
                    </p>

                    <p>
                        <i class="fas fa-phone mr-3"></i>+977 9851204534
                    </p>

                    <p>
                        <i class="fas fa-print mr-3"></i>+01 458785
                    </p>
                </div>
            </div>
            <hr class="mb-4">

            <div class="row align-items-center">

                <div class="col-md-7 col-lg-8">
                    <p>Copright @2023 All rights reserved by:
                        <a href="#" style="text-decoration: none;">
                            <strong class="text-warning">Junglee</strong>
                        </a>
                    </p>

                </div>
                <div class="col-md-5 col-lg-4">
                    <div class="text-center text-md-right">

                        <ul class="list-unstyled list-inline">
                            <li class="list-inline-item">
                                <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="fab fa-facebook"></i></a>
                            </li>

                            <li class="list-inline-item">
                                <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="fa-twitter"></i></a>
                            </li>

                            <li class="list-inline-item">
                                <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="fab fa-google-plus"></i></a>
                            </li>

                            <li class="list-inline-item">
                                <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="fab fa-linked-in"></i></a>
                            </li>

                            <li class="list-inline-item">
                                <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="fab fa-youtube"></i></a>
                            </li>

                        </ul>

                        </ul>

                    </div>

                </div>

            </div>
        </div>
    </div>


</footer>






<!-- <script src="script.js"> </script> -->
<script>
    const children = document.querySelectorAll(".myimg-container div img");
    const divChildren = document.querySelectorAll(".myimg-container div");

    children.forEach(el => {
        el.addEventListener("click", e => {
            console.log(e.target.parentElement);
            divChildren.forEach(child => {
                child.classList.remove("expanded");
            });
            e.target.parentElement.classList.add("expanded");
        });
    });
</script>
</body>


</html>